@use "sass:math";

// grayscale
$black: #000f;
$gray-700: #232323ff;
$gray-600: #424242ff;
$gray-500: #616161ff;
$gray-400: #dbdbdbff;
$gray-300: #e0e0e0ff;
$gray-200: #eeef;
$gray-100: #f5f5f5ff;
$white: #ffff;

// purple
$purple-600: #584381ff;
$purple-500: #7257a6ff;
$purple-400: #a07aeaff;
$purple-300: #b395eeff;
$purple-200: #d3c2f5ff;
$purple-100: #e2d6f8ff;

// light-purple
$light-purple-400: #6c59ffff;
$light-purple-300: #7763f1ff;
$light-purple-200: #a277fdff;
$light-purple-100: #c59ef3ff;

// dim
$dim-200: #0d0d29cc;
$dim-100: #0c0c1d66;
