@use "sass:math";

// grayscale
$black: #000000ff;
$gray-700: #232323ff;
$gray-600: #424242ff;
$gray-500: #616161ff;
$gray-400: #dbdbdbff;
$gray-300: #e0e0e0ff;
$gray-200: #eeeeeeff;
$gray-100: #f5f5f5ff;
$white: #ffffffff;

// purple
$purple-600: #584381ff;
$purple-500: #7257a6ff;
$purple-400: #a07aeaff;
$purple-300: #b395eeff;
$purple-200: #d3c2f5ff;
$purple-100: #e2d6f8ff;

// dim
$dim-200: #0D0D29CC;
$dim-100: #0C0C1D66;